$black:         #3B4252;
$black-alt:     #4C566A;
$red:           #BF616A;
$red-alt:       #BF616A;
$blue:          #81A1C1;
$blue-alt:      #81A1C1;
$yellow:        #EBCB8B;
$yellow-alt:    #EBCB8B;
$green:         #A3BE8C;
$green-alt:     #A3BE8C;
$magenta:       #B48EAD;
$magenta-alt:   #B48EAD;
$cyan:          #88C0D0;
$cyan-alt:      #8FBCBB;
$white:         #E5E9F0;
$white-alt:     #ECEFF4;

* {
    all: unset;
    transition: 200ms ease-out;
    font-family: monospace;
}

.logout-popup
{
    background-color: $black;
    border-radius: 15;
    padding: 10px;
}

.logout-popup-button
{
    padding: 10px;
}

.logout-popup-button:hover
{
    background-color: $black-alt;
    opacity: 0.4;
    border-radius: 100px;
}

.round-box-30
{
    background-color: $black-alt;
    border-radius: 15;
}

.dropdown-menu
{
    background-color: $black;
    padding: 10px 10px 10px 10px;
}

.main-bar
{
    background-color: $black;
    padding: 5px;
}

.indicators-bar
{
    background-color: $black;
    padding: 10px;
    border-radius: 10px;
}

/**
    BAR STUFF
*/

.date-tray-text
{
    color: $white;
    font-weight: bold;
}

.tray-button:hover
{
    background-color: $black-alt;
    opacity: 0.4;
    border-radius: 10px;
}

.tray-center
{
    color: $white;
    background-color: $black;
    font-weight: bolder;
    font-size: medium;
    padding: 10px 10px 10px 10px;
}

.tray-separator-bar
{
    background-color: $black-alt;
}

// Calendar

.tray-calendar
{
    color: $white;
    background-color: $black;
    font-weight: bolder;
    font-size: medium;
    padding: 1px 5px 1px 5px;
}

.tray-calendar:selected
{
    color: $green;
    background-color: $black-alt;
    border-radius: 20px;
}

.tray-calendar.header {
    color: $blue;
    font-size: 24px;
}

.tray-calendar.button {
    color: $blue;
    font-weight: bold;
    background-color: $black;
    padding-left: 10px;
}
  
.tray-calendar.highlight {
    color: $magenta;
    font-weight: bold;
    background-color: $black;
}
  
.tray-calendar:indeterminate {
    color: $black-alt;
    background-color: $black;
}

tray-calendar {
    &.highlight {
        padding: 20px;
    }
     padding: 5px 5px 5px 5px;
     margin-left: 10px;
}

.tray-calendar-time-text
{
    color: $white;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 1px;
    padding: 2px;
}

// Music player

.music-widget-box
{
    padding: 5px;
}

.music-cover-box
{
    background-color: $black-alt;
    border-radius: 8px;
    background-size: 125px;
}

.playback-button:hover
{
    background-color: $black-alt;
    opacity: 0.4;
    border-radius: 100px;
}

.playback-button-overlay
{
    background-color: $red;
}

.music-text-box
{
    padding: 10px;
}

/**
    SYSTEM CONTROLS
*/

.system-controls-widget
{
    padding: 10px 10px 10px 10px;
}

.system-controls-title
{
    color: $white;
    font-weight: bold;
}

// Volume classes

.volume-fg-box
{
    background-color: $red;
    border-radius: 7px;
}

.volume-text
{
    color: $red;
    font-weight: bold;
}

.volume-round-progress
{
    color: $red;
    background-color: $black-alt;
}

// Mic classes

.mic-text
{
    color: $cyan;
    font-weight: bold;
}

.mic-fg-box
{
    background-color: $cyan;
    border-radius: 7px;
}

.mic-round-progress
{
    color: $cyan;
    background-color: $black-alt;
}

// Brightness classes

.brightness-fg-box
{
    background-color: $yellow;
    border-radius: 7px;
}

.brightness-text
{
    color: $yellow;
    font-weight: bold;
}

.brightness-round-progress
{
    color: $yellow;
    background-color: $black-alt;
}

/**
    SYSTEM MONITOR
*/

.system-mointor-widget
{
    padding: 10px 10px 10px 10px;
}

.bg-box
{
    background-color: $black-alt;
    border-radius: 7px;
}

.system-monitor-title
{
    color: $white;
    font-weight: bold;
}

// Cpu classes

.cpu-fg-box
{
    background-color: $blue;
    border-radius: 7px;
}

.cpu-text
{
    color: $blue;
    font-weight: bold;
}

.cpu-round-progress
{
    color: $blue;
    background-color: $black-alt;
}

// Ram classes

.ram-fg-box
{
    background-color: $magenta;
    border-radius: 7px;
}

.ram-text
{
    color: $magenta;
    font-weight: bold;
}

.ram-round-progress
{
    color: $magenta;
    background-color: $black-alt;
}

// Battery classes

.bat-Full-fg-box,
.bat-Charging-fg-box
{
    background-color: $green;
    border-radius: 7px;
}

.bat-Discharging-fg-box
{
    background-color: $yellow;
    border-radius: 7px;
}

.bat-Full-text,
.bat-Charging-text
{
    color: $green;
    font-weight: bold;
}

.bat-Discharging-text
{
    color: $yellow;
    font-weight: bold;
}

.bat-Full-round-progress,
.bat-Charging-round-progress
{
    color: $green;
    background-color: $black-alt;
}

.bat-Discharging-round-progress
{
    color: $yellow;
    background-color: $black-alt;
}

// Temp classes

.temp-fg-box
{
    background-color: $red;
    border-radius: 7px;
}

.temp-text
{
    color: $red;
    font-weight: bold;
}

.temp-round-progress
{
    color: $red;
    background-color: $black-alt;
}